<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://localhost/dbbiblio2</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">

		<property name="dataSource" ref="dataSource">

		</property>
		<property name="mappingResources">
			<list>
				<value>com/app/business/dao/hbm/Book.hbm.xml</value>
				<value>com/app/business/dao/hbm/BiblioUser.hbm.xml</value>
				<value>com/app/business/dao/hbm/Role.hbm.xml</value>
				<value>com/app/business/dao/hbm/Theme.hbm.xml</value>
				<value>com/app/business/dao/hbm/Rayon.hbm.xml</value>

			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.current_session_context_class">
					thread
				</prop>
				<prop key="hibernate.transaction.factory_class">
					org.hibernate.transaction.JDBCTransactionFactory
				</prop>
			</props>

		</property>


	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory">

		</property>
	</bean>


	<bean id="bookDao" class="com.app.business.dao.impl.BookDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="bookService" class="com.app.business.service.impl.BookServiceImpl">
		<property name="bookDao" ref="bookDao"></property>
		<property name="rayonDao" ref="rayonDao"></property>
		<property name="themeDao" ref="themeDao"></property>
	</bean>
	<bean id="userDao" class="com.app.business.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="roleDao" class="com.app.business.dao.impl.RoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userManager" class="com.app.business.service.impl.UserMangerService">
		<property name="userDao" ref="userDao"></property>
		<property name="roleDao" ref="roleDao"></property>

	</bean>
	<bean id="rayonDao" class="com.app.business.dao.impl.RayonDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="themeDao" class="com.app.business.dao.impl.ThemeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>
